input{
  width:50%;
  margin: 10px;
  height: 15px;
}
.input{
  display: flex;
  justify-content: center;
}
.container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1px;
}

.countryCard {
  border: 1px solid;
  padding: 1px;
  margin: 1px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
}

img {
  width: 60%;
  height: 60%;
}

p {
  margin: 10px;
}